body{
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    text-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 15px;
    color: black;
    letter-spacing: 1px;
}

.div_speed{
    float: left;
}

.div_speed_img{
    width: 200px;
    border-radius: 100px;
}

#speed{
    font-size: 20px;
    margin: 15px;
}

.div_volume{
    float: right;
}

.div_volume_img{
    width: 200px;
    border-radius: 100px;
}

#volume{
    font-size: 20px;
    margin: 15px;
}

.play_button{
    width: 130px;
    font-size: 25px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 30px;
}